<ul ng-controller="NavCtrl">
        <!-- if not logged in the reel icon brings you back to the auth page -->
        <li class="align-left"><a href="#!/auth" id="logo"><img id="logoIcon" src="../../../img/reelNoFill.png" alt="movie reel" ></a></li>

        <!-- if logged in the the reel icon brings you back to the landing page ng-if="isAuthenticated()" -->
        <li class="align-left"><a href="#!/landing" id="logo"><img id="logoIcon" src="../../../img/reelNoFill.png" alt="movie reel" ></a></li>

        <li class="align-center" id="companyName">Life Reel</li>
        <li class="align-center"><a href="#!/landing">Home</a></li>
        <li class="align-center, view-reel"><a href="#!/reel">View Your Reel</a></li>
        <li class="align-center"><a href="#!/friends/list">Friends</a></li>
    
        <li class="align-right">
            <span>
                <a href="#" ng-click="logout()" id="logout">Logout</a>
            </span>
        </li>
    
</ul>